* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

:root {
  --clr-text: rgb(232, 232, 232);
}

/* Esconde a div que mostra o resultado */
.resultado-wrapper {
  display: none;
}

html {
	font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 100%;
  background: rgb(9,18,42);
  background: linear-gradient(37deg, #09122a 0%, #16213a 46%, #2a364d 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
	margin-inline: auto;
	width: min(90%,150rem);
}

.titulo {
  color: var(--clr-text);
  font-size: 3.6rem;
  text-align: center;
}

.subtitulo {
  color: var(--clr-text);
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 2.4rem;
}

.content-wrapper {
  max-width: 90rem;
  margin-inline: auto;
  background-color: #303956;
  border-radius: 2rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.inputs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  margin-bottom: 2rem;
}

input {
  padding: 1.6rem;
  border-radius: .8rem;
  border: none;
  outline: none;
  font-size: 1.6rem;
  background-color: #465674;
  color: #fff;
}

input::placeholder {
  color: #bfc7d6;
}

label {
font-size: 1.6rem;
color: var(--clr-text);
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

#calcular {
  border-radius: .8rem;
  border: none;
  outline: none;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  background-color: #bc5d0f;
  cursor: pointer;  
}

.titulo-resultado.error {
  color: #1c1c1c;
  font-size: 2.4rem;
  text-align: center;
  background-color: #e1d6d6; /* 15233a */
  padding: 1.4rem;
  width: fit-content;
  margin-inline: auto;
  border-radius: .8rem;
  margin-top: 2rem;
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  gap: .8rem;
}

.titulo-resultado.success {
  color: #1c1c1c;
  font-size: 2.4rem;
  text-align: center;
  background-color: #d3e1d1;
  padding: 1.4rem;
  width: fit-content;
  margin-inline: auto;
  border-radius: .8rem;
  margin-top: 2rem;
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
  gap: .8rem;
}

.titulo-resultado img {
  width: 4rem;
}

.resultado, 
.resultado-classificacao {
  color: var(--clr-text);
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
  text-align: center;
  line-height: 2.4rem;
}

#recarregar {
  margin-inline: auto;
  margin-top: 3rem;
  border-radius: .8rem;
  border: none;
  outline: none;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #d17e39;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;  
}

/* Responsive */
@media (max-width: 550px) {
  input {
    width: 100%;
  }

  #calcular {
    width: 100%;
  }
}